@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
  --green-light: rgb(149, 240, 149);
  --green-dark: rgb(58, 227, 58); 
  --gray-light: rgb(243, 243, 243);
  --gray-dark: rgb(212, 209, 209);
  --gray-border: rgb(216, 216, 216);
  --contentborder-light: rgb(200, 199, 199);
  --contentborder-dark: rgb(46, 60, 83);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'open-sans', sans-serif;
}

::-webkit-scrollbar {
  position: absolute;
  right: -10px;
  width: 4px;               /* width of the entire scrollbar */
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: inherit;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 3px solid inherit;  /* creates padding around scroll thumb */
  height: 5px !important;
}

::-webkit-scrollbar-thumb:hover {
  /* background: var(--green-dark); */
  background: red;
}

::-webkit-scrollbar-button {
  height: 5px !important;
}

::-webkit-scrollbar-button:hover {
  background: red;
}

:hover::-webkit-scrollbar-thumb {
  border: 3px solid gray;
  background: gray;
  height: 5px !important;
}

/* Logo */
.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid darkgreen
}

.logo > img {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border-radius: 50%;
}

/* Navbar */
nav {
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__mode--light {
  background: white;
  color: black;
}

.nav__mode--dark {
  background: rgb(36, 47, 65);
  color: white;
} 

/* Buttons */
.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav__btn {
  padding: 8px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  cursor: pointer; 
}

.nav__btn-mode--light {
  border: 1px solid var(--gray-border);
  background: var(--green-light);
  color: darkgreen;
}

.nav__btn-mode--light:hover {
  background: var(--green-dark);   
}

.nav__btn-mode--dark {
  border: 1px solid rgb(10, 33, 10);
  background: rgb(48, 63, 87);
  color: var(--green-light);
}

.nav__btn-mode--dark:hover {
  background: rgb(29, 38, 52);
}


/* container */
.container {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 75px calc(100% - 75px);
}

/* sidebar */
.sidebar {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__mode--light {
  background: white;
}

.sidebar__mode--dark {
  background: rgb(36, 47, 65);
}

.sidebar__btn {
  padding: 5px;
  border-radius: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;    
}

.sidebar__btn-mode--light {
  background: var(--gray-light);
}

.sidebar__btn-mode--light:hover {
  background: var(--gray-dark);
}

.sidebar__btn-mode--dark {
  color: white;
  background: rgb(48, 63, 87);
}

.sidebar__btn-mode--dark:hover {
  background: rgb(32, 42, 58);
}

.sidebar__btn--active-mode--light {
  border: 1px solid var(--gray-border);
  background: var(--green-light);
  color: darkgreen;
}

.sidebar__btn--active-mode--light:hover {
  background: var(--green-dark);
}

.sidebar__btn--active-mode--dark {
  background: rgb(5, 130, 5);
  color: white;
}

.sidebar__btn--active-mode--dark:hover {
  background: darkgreen;
}

/* content */
.content {
  height: calc(100vh - 60px);
  border-top-left-radius: 30px;
  padding: 13px;
  padding-right: 0;
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  gap: 15px;
  overflow-y: hidden;
}

.content-mode__light {
  background: var(--gray-light);
  border-top: 3px solid var(--contentborder-light);
  border-left: 2px solid var(--contentborder-light);
}

.content-mode__dark {
  background: rgb(25, 33, 46);
  border-top: 3px solid var(--contentborder-dark);
  border-left: 2px solid var(--contentborder-dark);
}

.content__wrapper {
  position: relative;
  height: calc(100vh - 60px);
  width: 100%;
}

.content__wrapper-mode--light {
  background: white;
  color: black;
}

.content__wrapper-mode--dark {
  background: rgb(36, 47, 65);
  color: white;
}

.contentheader {
  width: calc(100% - 13px);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.contentheader-mode--light {
  background: white;
} 

.contentheader-mode--dark {
  background: rgb(36, 47, 65);
  color: rgb(228, 226, 226);   
}

.contentheader__title {
  font-weight: 700;
  font-size: 19px;
}

.contentheader__info {
  margin-top: 8px;
  color: gray;
  font-size: 12px;
}

/* lists */
.lists {
  position: relative;
  border-radius: 15px;
  background: white;
  padding: 12px;
}

.lists ul {
  position: absolute;
  top: 64px;
  left: 12px;
  width: calc(100% - 12px);
  height: calc(100% - 64px);
  overflow-y: auto;
}

.lists-mode--light {
  background: white;
  color: black;
}

.lists-mode--dark {
  background: rgb(36, 47, 65);
}

/* searchfield */
.searchfield {
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  border-radius: 7px;
  padding: 3px 4px;
  display: flex;
  justify-content: space-between;
}

.searchfield-mode--light {
  border: 2px solid var(--contentborder-light);
  
}

.searchfield-mode--dark {
  border: 2px solid var(--contentborder-dark);
}

.searchfield > .search-number {
  border: none;
  background: inherit;
  font-size: 15px;
  padding-left: 15px;
  outline: none;
  color: inherit;
} 

.searchfield > .search-number::placeholder {
  color: inherit;
}

.searchfield > .search-logo {
  display: inline-block;
  padding: 8px;
  padding-left: 10px;
  padding-top: 9px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.search-logo-mode--light {
  background: var(--green-light);
  color: darkgreen;
}

.search-logo-mode--dark {
  background: rgb(42, 55, 76);
}

/* list items */
.list__item {
  border-radius: 5px;  
  padding: 10px 15px;
  width: calc(100% - 10px);
  min-height: fit-content;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 12px;
  cursor: pointer;
}

.list__item:not(:first-of-type) {
  margin-top: 15px;
}

.list__item-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list__item-mode--light:hover {
  background: rgb(193, 253, 193);
}

.list__item-mode--dark {
  color: rgb(155, 155, 155);
}

.list__item-mode--dark:hover {
  background: rgb(61, 71, 88);
}

.list__item--active-mode--light {
  background: rgb(193, 253, 193);
}

.list__item--active-mode--dark {
  background: rgb(61, 71, 88);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.list__item-name {
  font-weight: 700;
  font-size: 14px;
}

.list__item-name-mode--light {
  color: black;
}

.list__item-name-mode--dark {
  color: rgb(228, 226, 226);   
}

.diamond {
  border-radius: 5px;
  padding: 3px;
  aspect-ratio: 1/1;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  font-size: 12px;
}

.diamond-mode--light {
  background: var(--green-light);
  color: greendark;
}

.list__item-mode--light:hover .diamond-mode--light,
.list__item--active-mode--light .diamond-mode--light {
  background: rgb(5, 130, 5);
  color: white;
}

.list__item--active-mode--dark .diamond-mode--dark {
  background: rgb(5, 130, 5);
}

.diamond-mode--dark {
  color: white;
  background: rgb(48, 63, 87);
}

.diamond__text {
  transform: rotate(-45deg);
}

/* section */
.section {
  height: 100%;
  z-index: 0;  
  overflow-y: auto;
}

.sectionitem {
  margin-top: 13px;
  width: calc(100% - 13px);
  /* background: white;
  color: black; */
  border-radius: 10px;
  padding: 20px 13px;
}

.sectionitem-mode--light {
  background: white;
}

.sectionitem-mode--dark {
  background: rgb(36, 47, 65);
}

.sectionitem__order {
  color: rgb(5, 130, 5);
}

.sectionitem__row-right {
  margin-top: 10px;
  text-align: right;
}

.sectionitem__row-right-mode--light {
  color: black;
}

.sectionitem__row-right-mode--dark {
  color: rgb(228, 226, 226);   
}

.sectionitem__row-left {
  margin-top: 15px; 
  text-align-last: left;
}

.sectionitem__row-left-mode--light {
  color: rgb(155, 155, 155);
}

.sectionitem__row-left-mode--dark {
  color: rgb(228, 226, 226);   
}


/* settings div */
.settingsdiv {
  position: fixed;
  top: 0;
  right: -100%;
  width: 23vw;
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 5;
  transition-duration: 0.5s;
  padding: 30px 15px;
}

.settings--open {
  right: 0;
}

.settingsdiv-mode--light {
  background: white;
  color: black;
}

.settingsdiv-mode--dark {
  background: #000;
  background: var(--contentborder-dark);
  color: white;
}

.row--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settingsdiv__title {
  font-size: 20px;
  font-weight: 800;
}

.settingsdiv__close {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

/* settingswindow */
.settingswindow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(79, 79, 79, 0.523);
  height: 100vh;
  width: 100vw;
}

/* timepage */
.timediv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 700;
}

.timediv__area {
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: fit-content;
  width: fit-content;
  padding: 10px 18px;
  border-radius: 10px;
}

.timediv-mode--dark > .timediv__area {
  background: rgb(42, 55, 76);
  color: white;
}

.timediv__area-addition {
  font-size: 24px;
  margin-bottom: 20px;
}

.fivetimes__cards {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
}

.fivetime__cards-info {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.fivetime__card {
  width: 40vw;
  background: white;
  border-radius: 10px;
  text-align-last: left;
  padding: 5px 10px;
}

.fivetime__card--active {
  background: var(--green-dark) !important;
  color: white !important;
}

.timediv-mode--dark .fivetime__card {
  background: rgb(42, 55, 76);
  color: white;
}


/* spinner */
.spinner {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,var(--green-dark) 94%,#0000) top/11.5px 11.5px no-repeat,
        conic-gradient(#0000 30%,var(--green-dark));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 11.5px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
  z-index: 10;
}

.spinnerwindow {
  position: absolute;
  top: 0;
  right: 13px;
  height: 100%;
  width: 100%;
  background: rgba(79, 79, 79, 0.225);
  z-index: 5;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}
/* spinner html */
/* <div class="spinner"></div> */
